@mixin justify-content($value : flex-start) {
	@if $value == flex-start {
		-webkit-box-pack: start;
		   -ms-flex-pack: start;
	} @else if $value == flex-end {
		-webkit-box-pack: end;
		   -ms-flex-pack: end;
	} @else if $value == space-around {
		   -ms-flex-pack: distribute;
	} @else if $value == space-between {
		-webkit-box-pack: justify;
		   -ms-flex-pack: justify;	
	} @else {
        -webkit-box-pack: $value;
		   -ms-flex-pack: $value;
	}

    -webkit-justify-content: $value; /* Chrome 21+, Safari Not supported. */
       -moz-justify-content: $value; /* Chrome 21+, Safari Not supported. */
            justify-content: $value; /* Firefox 20+, Opera 12.10, IE Not supported. */
}

login-page {
  .logo-row
  {
    text-align: center;
  }
	.login-content
	{
		.alt-options
		{
			.button
			{
				margin: 0px;
				padding: 0px;
				font-size: 1.4rem;
			}

			.forgot-button
			{
				color: $white-d;
			}

			.signup-button
			{
				color: $theme-color-2;
			}
		}
	}
}
