<ion-header class="login-header auth-header">
  <ion-navbar>
    <ion-title>Sign in</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="login-content auth-content">
  <ion-row class="logo-row">
    <ion-col> <img src="../../assets/imgs/comingsoon.jpg" /> </ion-col>

  </ion-row>
  <form class="login-form auth-form" [formGroup]="login" (ngSubmit)="doLogin()">
    <ion-item>
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>
    <show-hide-container>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password" show-hide-input></ion-input>
      </ion-item>
    </show-hide-container>
    <button ion-button block class="auth-action-button login-button" type="submit" [disabled]="!login.valid">Log in</button>
  </form>
  <ion-row>
    <ion-col no-padding>
      <button ion-button full clear class="forgot-button" (click)="goToForgotPassword()">Forgot Password?</button>
    </ion-col>

  </ion-row>

  <button ion-button full clear class="signup-button" (click)="goToSignup()">Sign up!</button>

</ion-content>