@mixin multi-line-ellipsis($font-size:12px){
	overflow: hidden;
	position: relative;
	white-space: normal;
	word-break: break-all;
	font-size: $font-size;
	line-height: ($font-size + 4px);
	// Default
	height: ($font-size + 4px)*4;

	&[rows="2"]
	{
		height: ($font-size + 4px)*2;
	}
	&[rows="3"]
	{
		height: ($font-size + 4px)*3;
	}
	&[rows="4"]
	{
		height: ($font-size + 4px)*4;
	}

	&::after
	{
		content: '...';
		position: absolute;
		bottom: 0px;
		right: 0px;
		padding-left: 10px;
		@include background-image(linear-gradient(left,  rgba($white, 0) 0%,rgba($white, 1) 40%));
	}
}


@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}
@mixin transition-property($property...) {
    -moz-transition-property:    $property;
    -o-transition-property:      $property;
    -webkit-transition-property: $property;
    transition-property:         $property;
}
@mixin transition-duration($duration...) {
    -moz-transition-property:    $duration;
    -o-transition-property:      $duration;
    -webkit-transition-property: $duration;
    transition-property:         $duration;
}
@mixin transition-timing-function($timing...) {
    -moz-transition-timing-function:    $timing;
    -o-transition-timing-function:      $timing;
    -webkit-transition-timing-function: $timing;
    transition-timing-function:         $timing;
}
@mixin transition-delay($delay...) {
    -moz-transition-delay:    $delay;
    -o-transition-delay:      $delay;
    -webkit-transition-delay: $delay;
    transition-delay:         $delay;
}


