<ion-header class="auth-header">
  <ion-navbar> <ion-title>Phone Verification</ion-title> </ion-navbar>
</ion-header>

<ion-content class="auth-content">
  <form class=" auth-form" [formGroup]="verify_phone" (ngSubmit)="send()">
    <ion-item>
      <ion-input
        type="number"
        placeholder="Phone PhoneNumber"
        formControlName="PhoneNumber"
      ></ion-input>
    </ion-item>

    <div id="recaptcha-container"></div>

    <button
      ion-button
      block
      class="auth-action-button"
      type="submit"
      [disabled]="!verify_phone.valid"
    >
      Send Code
    </button>
  </form>
</ion-content>
