<ion-header class="signup-header auth-header">
  <ion-navbar> <ion-title>Sign up</ion-title> </ion-navbar>
</ion-header>

<ion-content class="signup-content auth-content">
  <h2 class="auth-title">Create an account</h2>
  <form
    class="signup-form auth-form"
    [formGroup]="signup"
    (ngSubmit)="doSignup()"
  >
    <ion-item>
      <ion-input
        type="text"
        placeholder="Company Name"
        formControlName="CompanyName"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="text"
        placeholder="First Name"
        formControlName="FName"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        placeholder="Last Name"
        formControlName="LName"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input
        type="text"
        placeholder="Email"
        formControlName="Email"
      ></ion-input>
    </ion-item>
    <show-hide-container>
      <ion-item>
        <ion-input
          type="password"
          placeholder="Password"
          formControlName="Password"
          show-hide-input
        ></ion-input>
      </ion-item>
    </show-hide-container>
    <show-hide-container>
      <ion-item>
        <ion-input
          type="password"
          placeholder="Confirm"
          equalTo
          formControlName="ConfirmPassword"
          show-hide-input
        ></ion-input>
      </ion-item>
    </show-hide-container>
    <button
      ion-button
      block
      class="auth-action-button signup-button"
      [disabled]="!signup.valid"
      type="submit"
    >
      Next
    </button>
  </form>
</ion-content>
